 <h1>お気に入りした本の一覧</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>登録日</th>
        <th>カテゴリ</th>
        <th>タイトル</th>
        <th>お気に入り</th>
      </tr>
    </thead>
    
    <tbody>
     <% @marks.each do |mark| %>
     <% book = Book.find(mark.book_id) %>
      <tr>
        <td><%= link_to book.id, book %></td>
        <td><%= book.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= book.category %></td>
        <td><%= book.title %></td>
        <td><%= render 'marks/mark_button', book: book %></td>
      </tr>
    <% end %>
    </tbody>
    
    <div>
    <%= paginate @marks %>
    </div>
    
  </table>
  
  <%= link_to  '全部の本の一覧に戻る', root_path, class: "btn btn-primary" %>
