 <h1>登録本一覧</h1>
  <ul>
    <% @books.each do |book| %>
    <li><%= link_to book.id, book %> : <%= book.create_at %> <%= book.category %> <%= book.title %></li>
    <% end %>
  </ul>

  <%= paginate @books %>
  <%= link_to '新規作成', new_book_path %>
  </div>
</div>